{
    parser: "babel-eslint",
    rules: {
        indent: [
            2,
            2,
            {
                SwitchCase: 1
            }
        ],
        quotes: [
            2,
            "single"
        ],
        linebreak-style: [
            2,
            "unix"
        ],
        semi: [
            2,
            "always"
        ],
        no-unused-vars: [
            2,
            {
                args: "none",
                varsIgnorePattern: "^React$"
            }
        ],
        no-multi-spaces: [
            2
        ],
        max-len: [
            2,
            120,
            2
        ],
        jsx-quotes: [
            2,
            "prefer-single"
        ],
        eol-last: [
            2
        ],
        no-trailing-spaces: [
            2
        ],
        space-before-function-paren: [
            2,
            {
                anonymous: "always",
                named: "never"
            }
        ],
        keyword-spacing: 2,
        space-before-blocks: 2,
        vars-on-top: 2,
        comma-spacing: 2,
        key-spacing: [
            2,
            {
                beforeColon: false,
                afterColon: true
            }
        ],
        react/jsx-boolean-value: [
            1,
            "always"
        ],
        react/jsx-curly-spacing: [
            2,
            "always"
        ],
        react/jsx-equals-spacing: [
            2,
            "never"
        ],
        react/jsx-indent-props: [
            1,
            2
        ],
        react/jsx-indent: [
            1,
            2
        ],
        react/jsx-key: 1,
        react/jsx-no-duplicate-props: 1,
        react/jsx-no-undef: 1,
        react/jsx-pascal-case: 1,
        react/jsx-uses-vars: 1,
        react/no-danger: 1,
        react/no-deprecated: [
            1,
            {
                react: "0.14.3"
            }
        ],
        react/no-did-mount-set-state: 1,
        react/no-did-update-set-state: 1,
        react/no-direct-mutation-state: 1,
        react/no-is-mounted: 1,
        react/no-multi-comp: [
            1,
            {
                ignoreStateless: true
            }
        ],
        react/no-unknown-property: 1,
        react/prop-types: 1,
        react/react-in-jsx-scope: 1,
        react/self-closing-comp: 1,
        react/sort-comp: [
            1,
            {
                groups: {
                    rendering: [
                        "/^render.+$/",
                        "render"
                    ]
                }
            }
        ],
        react/wrap-multilines: 1,
        object-curly-spacing: [
            2,
            "always"
        ],
        computed-property-spacing: [
            2,
            "never"
        ],
        array-bracket-spacing: [
            2,
            "never"
        ]
    },
    env: {
        browser: true,
        node: true,
        mocha: true
    },
    parserOptions: {
        ecmaVersion: 6,
        sourceType: "module",
        ecmaFeatures: {
            impliedStrict: true,
            jsx: true,
            experimentalObjectRestSpread: true
        }
    },
    plugins: [
        "react"
    ],
    extends: [
        "eslint:recommended"
    ],
    globals: {
        "$": false
    }
}
