# See https://help.github.com/ignore-files/ for more about ignoring files.

## terraform
**/*.tfvars
**/*.tfstate
**/*.tfplan*
**/*.backup
**/*lock.info
**/.terraform/
infra/terraform/env-id/.terraform.*
infra/terraform/aws/environments/region/.terraform*
infra/terraform/aws/environments/init-dev/.terraform*
infra/terraform/aws/environments/dev/.terraform*

## linux
nohup.out

# testing
**/coverage
react/screenshot.png

# production
**/build
**/dist

# env vars and logs
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.*

## global
**/*.log

# dependencies
**/node_modules

# deploy faas
**/*.zip
services/**/bootstrap

# Editors and IDEs
.idea

# Misc
.DS_Store

# unintended
/yarn.lock

# aws-cdk
.cdk.staging
cdk.out
infra/aws-cdk/**/*.js
infra/aws-cdk/**/*.d.ts

# ipython
.ipynb_checkpoints

# go
**/vendor
coverage.out

# lambda
tst.sh

# postgres docker
migrations/postgres/data

# go migrate
migrate.linux-amd64

# psql
migrations/dumps/*.sql

# rust
/target/
**/*.profraw

# vscode
tests/thunder-tests/thunderActivity.json

# ssh
k8s/*.pem