# See https://help.github.com/ignore-files/ for more about ignoring files.

## terraform
**/*.tfvars
**/*.tfstate
**/*.tfplan
**/*.backup
**/*lock.info
**/.terraform/


## react

# testing
react/coverage
react/screenshot.png

# production
react/build

# env vars and logs
react/.env.local
react/.env.development.local
react/.env.test.local
react/.env.production.local

react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*


## global

# dependencies
**/node_modules

# deploy faas
**/lambda.zip

## misc
.DS_Store
.vscode