html, body {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: #cfe2f3;
}

.primary-nav {
    display:-webkit-flex;
    display:flex;
    list-style-type:none;
    padding:0;
    justify-content:flex-end;
}

img{
    max-width: 100%;
}

ul{
    padding: 0px !important;
    margin: 0px !important;
}

ul,li{
    list-style: none;
}

.left {
    margin-right:auto;
}

.fullBg {
  min-height: 100%;
  background-color: #cfe2f3;
}

.form-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: none;
  margin-left: none;
}

.btn-style {
  display: block;
  width: 100%;
  font-size: 110%;
}

/**theme's variables**/
.padding14{
    padding: 14px;
}
.font18{
    font-size: 18px;
}
.font22{
    font-size: 22px;
}
.fontGray{
    color: #666666;
}
.boldFont{
    font-weight: bold;
}
.radius5{
    border-radius: 5px;
}


/**
header's css
@author kishan
***/
.header {
  margin-bottom: 20px;

  a {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .icon-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 166px;
    z-index: 9;
  }

  .icon {
    display: inline-block;
    img {
      width: 40px;
    }
  }

  .burger-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 117px;
    z-index: 9;
  }

  .header-title {
    display: inline-block;
    color: white;
  }

  .MyMenuButton {
    text-align: right;
  }

  .MyMenuButton-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 117px;
    background-color: #1c4587;
    color: #fff;
    li {
      border: 1px solid #d9d9d9;
      &:last-child {
        border-bottom: 0 !important;
      }
    }
  }

  .flag_icon.icon img {
    width: 30px !important;
  }

  .back_icon.icon img {
    width: 30px !important;
  }

  .MyMenuButton-button span {
    color: #999999;
    font-size: 30px;
    z-index: 10;
  }
}
