/**
home page css
@author kishan
**/

.input-group {
  width: 100%;
}

.indicator {
  background-color: #efefef;
  overflow: hidden;
  padding: 14px;
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 20px;
  label {
    font-weight: bold;
  }
}

.plusIcon {
  width: 40px;
}

.input input {
  background-color: #efefef;
  border: 0 none;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}
