.toggle-button {
  text-align: center;
  margin-bottom: 20px;
  .btn__debit, .btn__credit {
    display: inline-block;
    padding: 14px 22px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: #cccccc;
    &.active {
      background-color: #0b5394;
      color: white;
      border-radius: 5px 5px 5px 5px;
    }
  }

  .btn__debit {
    border-left-width: 1px;
    border-right-width: 0px;
    border-radius: 5px 0px 0px 5px;
    &.active {
      border-right-width: 1px;
    }
  }

  .btn__credit {
    border-right-width: 1px;
    border-left-width: 0px;
    border-radius: 0px 5px 5px 0px;
    &.active {
      border-left-width: 1px;
    }
  }

}
