.transaction-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  .transaction-popup {
    width: 100%;
  	background-color: #d9d2e9;
    border-radius: 25px;
    transform: translate(0, 60%);
    padding: 25px;
    border: 1px solid black;
    .input {
      padding: 20px 0 20px;
    }

    .error-message {
      text-align: center;
      color: red;
    }

    .modal__footer {
      margin-top: 30px;
      .modal__btn {
        padding: 5px 14px;
        margin-bottom: 0px;
      }

      .btn__cancel {
        margin-right: 10px;
        border: none;
        color: #999;
      }

      .btn__ok {
        border: 1px solid black;
        background-color: #0b5394;
        color: white;
      }
    }
  }
}
