[package]
name = "wsclient"
version = "0.1.0"
edition = "2021"
rust-version.workspace = true

[dependencies]
async-tungstenite = { version = "0.32", features = ["async-std-runtime"] }
async-std = "1.13"
