.transaction-history {

  .input-group {
    width: 100%;
    margin-bottom: 40px;
  }

  .indicator {
    background-color: #efefef;
    overflow: hidden;
    padding: 14px;
    margin-bottom: 10px;
  }

  .transaction-history__header {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 14px;
  }

  .transaction-history__item {
    &:hover {
      cursor: pointer;
    }

    .transaction-item-header {
      font-size: 10px;
    }
  }
}
