name: auto-confirm

on:
  workflow_dispatch:
  push:
    paths:
    - 'services/auto-confirm/**'
    branches-ignore:
    - 'master'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint_test:
    name: lint test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: linting
        run: |
          cargo fmt -- --check
          cargo clippy -- -Dwarnings
  unit_test:
    name: unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: unit test
        run: cargo test
  push_image:
    name: push image to dev ecr
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
      APP_DIR: services/auto-confirm
    needs: [lint_test, unit_test]
    steps:
      - uses: actions/checkout@v4
      - name: mask values
        run: echo "::add-mask::${{ secrets.AWS_ACCOUNT_ID }}"
      - name: build image
        run: make -C $APP_DIR build-image
      - name: tag image
        run: ENV_ID=${{ secrets.DEV_ENV_ID }} make -C $APP_DIR tag-dev-image
      - name: push image
        run: ENV_ID=${{ secrets.DEV_ENV_ID }} make -C $APP_DIR push-dev-image