name: crates

on:
  workflow_dispatch:
  push:
    paths:
    - 'crates/**'
    branches-ignore:
    - 'master'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.crate }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate: [pg, types, httpclient, uribuilder, redisclient, wsclient, ddbclient, service]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: lint
        run: |
          cargo fmt -p ${{ matrix.crate }} -- --check
          cargo clippy -p ${{ matrix.crate }} -- -Dwarnings
      - name: test
        run: cargo test -p ${{ matrix.crate }}
      - name: install cargo-llvm-cov
        if: matrix.crate == 'types' || matrix.crate == 'pg' || matrix.crate == 'httpclient'
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: coverage report
        if: matrix.crate == 'types' || matrix.crate == 'pg' || matrix.crate == 'httpclient'
        run: make rust-coverage RUST_PKG=${{ matrix.crate }}