name: go-migrate

on:
  workflow_dispatch:
  workflow_run:
    workflows: [migrations]
    types: [completed]
  push:
    paths:
    - 'migrations/go-migrate/**'
    - 'docker/go-migrate.Dockerfile'
    branches-ignore:
    - 'master'
    - 'develop'

jobs:
  push_image:
    if: ${{ github.event_name == 'push' || github.event.workflow_run.conclusion == 'success' }}
    name: push image to dev ecr
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
      APP_DIR: migrations/go-migrate
    steps:
      - uses: actions/checkout@v4
      - name: mask values
        run: echo "::add-mask::${{ secrets.AWS_ACCOUNT_ID }}"
      - name: build image
        run: make -C $APP_DIR build-image
      - name: tag image
        run: ENV_ID=${{ secrets.DEV_ENV_ID }} make -C $APP_DIR tag-dev-image
      - name: push image
        run: ENV_ID=${{ secrets.DEV_ENV_ID }} make -C $APP_DIR push-dev-image
