name: migrations

on:
  workflow_dispatch:
  push:
    paths:
    - 'migrations/schema/**'
    - 'migrations/seed/**'
    - 'migrations/testseed/**'
    branches-ignore:
    - 'master'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  migrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: up migrate from schema, seed and testseed directories
        run: make updocker
        working-directory: migrations
      - name: down migrate to test rollback
        run: make downdocker
        working-directory: migrations
      - name: clean up
        run: make clean
        working-directory: migrations