name: prod-client-base-image

on:
  workflow_dispatch:
  push:
    paths:
    - client/package.json
    - client/package-lock.json
    - docker/client-base.Dockerfile
    branches:
    - 'develop'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: deploy client-base image
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: mxfactorial/client-base:v1
    steps:
      - uses: actions/checkout@v4
      - name: docker login
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u mxfactorial --password-stdin
      - name: docker build
        run: docker build -f ./docker/client-base.Dockerfile -t "$IMAGE_NAME" --provenance=false .
      - name: docker push
        run: docker image push "$IMAGE_NAME"