name: request-by-id

on:
  workflow_dispatch:
  push:
    paths:
    - 'services/request-by-id/**'
    - 'crates/**'
    - 'migrations/schema/*'
    branches-ignore:
    - 'master'
    - 'develop'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/REUSE_service.yaml
    with:
      app_dir: services/request-by-id
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      DEV_ENV_ID: ${{ secrets.DEV_ENV_ID }}
