name: REUSE_service

on:
  workflow_call:
    inputs:
      app_dir:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_ACCOUNT_ID:
        required: true
      DEV_ENV_ID:
        required: true

jobs:
  lint_test:
    name: lint test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: linting
        run: |
          cargo fmt -- --check
          cargo clippy -- -Dwarnings

  unit_test:
    name: unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: unit test
        run: cargo test

  database_test:
    name: database test in local docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - name: test database
        run: make -C crates/pg test-db

  compile:
    name: compile ${{ matrix.service }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - graphql
          - request-create
          - request-approve
          - rule
          - request-by-id
          - requests-by-account
          - transaction-by-id
          - transactions-by-account
          - balance-by-account
          # TODO:
          # - event
          # - measure
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.service }}
      - name: compile
        run: cargo build -p ${{ matrix.service }}
      - name: upload binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.service }}
          path: target/debug/${{ matrix.service }}
          retention-days: 1

  integration_test:
    name: integration test in local docker
    needs: compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: download all binaries
        uses: actions/download-artifact@v4
        with:
          path: target/debug/
          merge-multiple: true
      - name: set binary timestamps
        run: chmod +x target/debug/*
      - name: start services
        run: make start
      - name: test service integration
        run: make -C ./tests test-local
      - name: clean up
        run: make stop

  client_test:
    name: client test in local docker
    needs: compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: download all binaries
        uses: actions/download-artifact@v4
        with:
          path: target/debug/
          merge-multiple: true
      - name: set binary timestamps
        run: chmod +x target/debug/*
      - name: start services
        run: make start
      - name: e2e test client
        run: make -C ./client test-ci
      - name: clean up
        run: make stop

  push_image:
    name: push image to dev ecr
    runs-on: ubuntu-latest
    needs: [lint_test, unit_test, database_test, integration_test, client_test]
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
      APP_DIR: ${{ inputs.app_dir }}
    steps:
      - uses: actions/checkout@v4
      - name: mask values
        run: echo "::add-mask::${{ secrets.AWS_ACCOUNT_ID }}"
      - name: build image
        run: make -C $APP_DIR build-image
      - name: tag image
        run: ENV_ID=${{ secrets.DEV_ENV_ID }} make -C $APP_DIR tag-dev-image
      - name: push image
        run: ENV_ID=${{ secrets.DEV_ENV_ID }} make -C $APP_DIR push-dev-image
